body{
    background-color: lightgrey;
}

p{
  font-family: "monaco", monospace;
}

.cityULink{
    font-family: "monaco", monospace;    
}
.cityULink:link{color: black;}
.cityULink:visited{color: blue;}
